**
!dist/extension.js
!bin/lua-dap
!bin/lua-dap.exe
!bin/lua-lsp
!bin/lua-lsp.exe
!bin/lua-devtools-native.so
!bin/lua-devtools-native.dll
!lua/**
!README.md
!CHANGELOG.md
!LICENSE
!package.json
!package.nls*.json
!l10n/**
!media/icon.png
!media/environments.svg
!media/lua-devtools.woff
